$font-color:#000000 !default;
$font-family: 'Open Sans', sans-serif;
$font-size: 14px;
$background-color: rgb(228 228 228);
$line_height: 1.4;

$none:                       none!default;
$hidden: hidden!default;
$border-thin:                1px !default;

$fontBig: 2.3em;
$fontMedium: 1.6em;
$fontSmall: 1em;

$weightBold: 600;
$weightLight: 200;

$zero: 0;
$Whitebackground-color: #ffffff;
$autoMargin: 0 auto;