@media (max-width: 1199px){
    .fliterButton{
        width: 63px;
    }
}
@media (max-width: 991px){
    .filterHead{width:85%;}
    .filterPanel .innerRow{
        margin: 15px 0px;
        .fliterButton{
            width: 58px;
            font-size: 0.8em;
        }
    }
}
