<div class="launchesContainer">
    <div class="row" *ngIf="data.length != 0">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" *ngFor="let item of data">
            <div class="spacexCard" >
                <div class="imgHolder" *ngIf="item.links.mission_patch_small!= null">
                    <img src="{{item.links.mission_patch_small}}" />
                </div>
                <div class="imgHolder" *ngIf="item.links.mission_patch_small == null">
                    <img src="../../../assets/img/mission.svg" />
                </div>
                <div class="missionName smallHead">{{item.mission_name}}</div>
                <div class="smallHead">Mission Ids:</div>
                <span *ngIf="item.mission_id.length > 0">
                    <ul *ngFor="let subitem of item['mission_id']">
                        <li>{{subitem}}</li>
                    </ul>
                </span>
                <ul *ngIf="item.mission_id.length == 0">
                    <li>N/A</li>
                </ul>
                <div class="smallHead">Launch Year: <span>{{item.launch_year}}</span></div>
                <div class="smallHead">
                    <span id="tag">Successful Launch:</span> <span id="flag"  *ngIf="item.launch_success!= null"> {{item.launch_success}}</span> <span id="flag"  *ngIf="item.launch_success == null"> N/A</span>
                </div>
                <div class="smallHead">
                    <span id="tag">Successful Landing:</span> <span id="flag"  *ngIf="item.rocket.first_stage.cores[0].land_success != null"> {{item.rocket.first_stage.cores[0].land_success}}</span><span id="flag"  *ngIf="item.rocket.first_stage.cores[0].land_success == null"> N/A </span>
                </div>
            </div>
        </div>
    </div>  
    <div *ngIf="data.length == 0" class="nodata" >
        No data Found
    </div>
</div>

