<div class="launchesContainer">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="spacexCard">
                <div class="imgHolder">
                    <img src="https://images2.imgbox.com/3c/0e/T8iJcSN3_o.png" />
                </div>
                <div class="missionName smallHead">FalconSat #1</div>
                <div class="smallHead">Mission Ids:</div>
                <ul>
                    <li>EE86F74</li>
                </ul>
                <div class="smallHead">Launch Year: <span>2019</span></div>
                <div class="smallHead">
                    <span id="tag">Successful Launch:</span> <span id="flag"> true</span>
                </div>
                <div class="smallHead">
                    <span id="tag">Successful Landing:</span> <span id="flag"> true</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="spacexCard">
                <div class="imgHolder">
                    <img src="https://images2.imgbox.com/42/b0/vP0sk3d5_o.png" />
                </div>
                <div class="missionName smallHead">FalconSat #1</div>
                <div class="smallHead">Mission Ids:</div>
                <ul>
                    <li>EE86F74</li>
                </ul>
                <div class="smallHead">Launch Year: <span>2019</span></div>
                <div class="smallHead">
                    <span id="tag">Successful Launch:</span> <span id="flag"> true</span>
                </div>
                <div class="smallHead">
                    <span id="tag">Successful Landing:</span> <span id="flag"> true</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="spacexCard">
                <div class="imgHolder">
                    <img src="https://images2.imgbox.com/91/27/VhC1TTYN_o.png" />
                </div>
                <div class="missionName smallHead">FalconSat #1</div>
                <div class="smallHead">Mission Ids:</div>
                <ul>
                    <li>EE86F74</li>
                </ul>
                <div class="smallHead">Launch Year: <span>2019</span></div>
                <div class="smallHead">
                    <span id="tag">Successful Launch:</span> <span id="flag"> true</span>
                </div>
                <div class="smallHead">
                    <span id="tag">Successful Landing:</span> <span id="flag"> true</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="spacexCard">
                <div class="imgHolder">
                    <img src="https://images2.imgbox.com/1b/b6/Z4oktZeR_o.png" />
                </div>
                <div class="missionName smallHead">FalconSat #1</div>
                <div class="smallHead">Mission Ids:</div>
                <ul>
                    <li>EE86F74</li>
                </ul>
                <div class="smallHead">Launch Year: <span>2019</span></div>
                <div class="smallHead">
                    <span id="tag">Successful Launch:</span> <span id="flag"> true</span>
                </div>
                <div class="smallHead">
                    <span id="tag">Successful Landing:</span> <span id="flag"> true</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="spacexCard">
                <div class="imgHolder">
                    <img src="https://images2.imgbox.com/a0/cb/s1h2RuR0_o.png" />
                </div>
                <div class="missionName smallHead">FalconSat #1</div>
                <div class="smallHead">Mission Ids:</div>
                <ul>
                    <li>EE86F74</li>
                </ul>
                <div class="smallHead">Launch Year: <span>2019</span></div>
                <div class="smallHead">
                    <span id="tag">Successful Launch:</span> <span id="flag"> true</span>
                </div>
                <div class="smallHead">
                    <span id="tag">Successful Landing:</span> <span id="flag"> true</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="spacexCard">
                <div class="imgHolder">
                    <img src="https://images2.imgbox.com/a7/b4/bcMrHMey_o.png" />
                </div>
                <div class="missionName smallHead">FalconSat #1</div>
                <div class="smallHead">Mission Ids:</div>
                <ul>
                    <li>EE86F74</li>
                </ul>
                <div class="smallHead">Launch Year: <span>2019</span></div>
                <div class="smallHead">
                    <span id="tag">Successful Launch:</span> <span id="flag"> true</span>
                </div>
                <div class="smallHead">
                    <span id="tag">Successful Landing:</span> <span id="flag"> true</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="spacexCard">
                <div class="imgHolder">
                    <img src="https://images2.imgbox.com/bf/12/oSP2EwNz_o.png" />
                </div>
                <div class="missionName smallHead">FalconSat #1</div>
                <div class="smallHead">Mission Ids:</div>
                <ul>
                    <li>EE86F74</li>
                </ul>
                <div class="smallHead">Launch Year: <span>2019</span></div>
                <div class="smallHead">
                    <span id="tag">Successful Launch:</span> <span id="flag"> true</span>
                </div>
                <div class="smallHead">
                    <span id="tag">Successful Landing:</span> <span id="flag"> true</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="spacexCard">
                <div class="imgHolder">
                    <img src="https://images2.imgbox.com/3c/0e/T8iJcSN3_o.png" />
                </div>
                <div class="missionName smallHead">FalconSat #1</div>
                <div class="smallHead">Mission Ids:</div>
                <ul>
                    <li>EE86F74</li>
                </ul>
                <div class="smallHead">Launch Year: <span>2019</span></div>
                <div class="smallHead">
                    <span id="tag">Successful Launch:</span> <span id="flag"> true</span>
                </div>
                <div class="smallHead">
                    <span id="tag">Successful Landing:</span> <span id="flag"> true</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="spacexCard">
                <div class="imgHolder">
                    <img src="https://images2.imgbox.com/b4/28/cQwcs8qz_o.png" />
                </div>
                <div class="missionName smallHead">FalconSat #1</div>
                <div class="smallHead">Mission Ids:</div>
                <ul>
                    <li>EE86F74</li>
                </ul>
                <div class="smallHead">Launch Year: <span>2019</span></div>
                <div class="smallHead">
                    <span id="tag">Successful Launch:</span> <span id="flag"> true</span>
                </div>
                <div class="smallHead">
                    <span id="tag">Successful Landing:</span> <span id="flag"> true</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="spacexCard">
                <div class="imgHolder">
                    <img src="https://images2.imgbox.com/3c/0e/T8iJcSN3_o.png" />
                </div>
                <div class="missionName smallHead">FalconSat #1</div>
                <div class="smallHead">Mission Ids:</div>
                <ul>
                    <li>EE86F74</li>
                </ul>
                <div class="smallHead">Launch Year: <span>2019</span></div>
                <div class="smallHead">
                    <span id="tag">Successful Launch:</span> <span id="flag"> true</span>
                </div>
                <div class="smallHead">
                    <span id="tag">Successful Landing:</span> <span id="flag"> true</span>
                </div>
            </div>
        </div>
    </div>  
</div>
