body{
    font-size: $font-size;
    background-color: $background-color;
    color: $font-color;
    line-height: $line_height;
    font-family: $font-family;
}
h1{margin: $zero}
.visibNone{visibility:$hidden;}
.marginTop25{margin-top:25px !important;}
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e6e6e6;
    border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #dedcdc;
}