.launchLayout{padding:10px;}
.spacexCard{background: $Whitebackground-color; border-radius: 3px; padding: 9px 8px;    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
.subHead{font-size: 1.3em; font-weight: $weightBold; color: $font-color;}
.launchesContainer {
    [class^="col-"]{
        padding: 0 14px 0px 0;
    }
    .spacexCard{
        padding: 14px;
        border-radius: 7px;
        max-height: 420px;
        height: 370px;
        overflow-y: scroll;
        margin-bottom: 15px;
        .smallHead{
        font-weight: 600;
        font-size: 0.91em;
        margin: 8px 0 0 0;
        letter-spacing: 0.3px;
            &.missionName{
                color: #3040b9;
                margin: 12px 0 18px 0;
                font-size: 1em;
            }
            span{
                &:last-child{color: #3040b9;  font-weight: normal; padding-left: 13px;
                }
                &#tag{display: inline-block; width:50%;}
                &#flag{display: inline-block; width:50%; }
            }
        }
        ul{color: #3040b9;font-size: 0.9em; }
        .imgHolder{
            background: $background-color;
            border-radius: 2px;
            text-align: center;
            img{width:80%;}
        }
    }
}
.nodata{text-align: center;font-weight: 600;font-size: 1.2em;padding-top: 18vh;}
.loader{
    padding-top: 18vh;
    text-align: center;
    img{width: 90px;}
}